*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#baner {
    /* height: auto; */
    /* width: 100%; */
    padding-top: 50%;
    background: url('/btl/assets/image/baner1.png') top center / cover no-repeat;
}
#baner .text-content {
    position: absolute;
    margin-top: 0;
    top: 20%;
    font-size: 25px;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    padding-left: 50px;
}

#baner .name{
    font-size: 15px;
    padding-bottom: 15px ;
    margin-bottom: 15px;
    line-height: 19px ;
    position: relative;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#baner .name::before{
    height:1.5px;
    background-color: white;
    bottom: 0;
    content:  "";
    left: 0;
    position: absolute;
    width: 50px ;
    display: block;
}

#baner .button1:hover{
    background-color: burlywood;
    border: saddlebrown solid 2px;
    border-radius:10px;

}
#baner .button1{
    border-radius: 10px;
    background-color:darkorange;
    cursor: pointer;
    text-transform: uppercase;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.box-menu-tab {
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px ;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}

.order-list-content {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.first {
    display: inline-block; /* Align items in a single line */
    width: 80%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the container horizontally */
}

.fooditem { 
    display: inline-block;
    width: 250px; /* Adjust the width as needed */
    margin: 0 10px; /* Add spacing between items */
    text-align: center;
}

.fooditem img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.firts-food {
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 8px;
    text-align: center;
}

.fprice{
    margin-top: 8px;
    margin-bottom: 8px;
    color: red;
}
#food-img{
    width: 100%;
}

.frate{
    padding-bottom: 3px;
}

.add-to-card{
    color: white;
    background-color: red;
    text-decoration: none;
    padding: 8px;
    border-radius: 90px;
    display: inline-block;
    
}
#food-img:hover{
    opacity: 0.7;
    cursor: pointer;
}

.prev, .next {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin: 0 20px; /* Add some spacing between buttons */
}

.hidden {
    display: none;
}